<div class="Allcontact">
  <div class="container">
    <h1>Contact</h1>
    <p>Vous pouvez me contacter via les différents moyens si dessous :</p>
    <div class="Mail">
      <h3>
        Mon mail :
        <a href="mailto:benjaminboisedu354@gmail.com;"
          >benjaminboisedu354@gmail.com</a
        >
      </h3>
    </div>
    <div class="Phone">Tel : 06.42.40.62.03</div>
    <div class="Linkedin">
      <a href="https://www.linkedin.com/in/benjamin-bois%C3%A9du-09434a241/"
        ><img src="/stylesheet/img/linkedin(2).png" alt="Linkedin" />Mon
        Linkedin</a
      >
    </div>
    <div class="Address">
      <img src="" alt="" />
      <h3>Mon adresse : 9 rue du moulin 62111 Foncquevillers</h3>
    </div>
    <div class="network">
      <a href="https://www.linkedin.com/in/benjamin-boisedu-6b1b3b1b2/">
        <img src="/stylesheet/img/linkedin(2).png" alt="linkedin" />
      </a>
      <a href="https://github.com/BenjaminBoisedu">
        <img src="/stylesheet/img/github.png" alt="github" />
      </a>
      <a href="https://www.instagram.com/benjamin_boisedu/">
        <img src="/stylesheet/img/instagram(1).png" alt="instagram" />
      </a>
    </div>
  </div>
</div>
