<footer>
  <div class="droits">
    <p>- © 2024 All right reserved -</p>
  </div>
  <div class="links">
    <div class="network">
      <a href="https://www.linkedin.com/in/benjamin-boisedu-6b1b3b1b2/">
        <img src="/stylesheet/img/linkedin(2).png" alt="linkedin" />
      </a>
      <a href="https://github.com/BenjaminBoisedu">
        <img src="/stylesheet/img/github.png" alt="github" />
      </a>
      <a href="https://www.instagram.com/benjamin_boisedu/">
        <img src="/stylesheet/img/instagram(1).png" alt="instagram" />
      </a>
    </div>
  </div>
</footer>
