<header>
  <a href="/" id="logo">
    <img src="/stylesheet/img/Calque 2.png" alt="Logo" width="20%" />
  </a>
  <nav>
    <ul>
      <li><a href="/projects">Réalisations</a></li>
      <!-- <li><a href="/projects/new">Add Projects</a></li> -->
      <li><a href="/me">Contact</a></li>
    </ul>
  </nav>
</header>
