<header>
  <h1>APCW&G</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Every Project</a></li>
      <li><a href="/projects/new">Add Projects</a></li>
    </ul>
  </nav>
</header>
