<header>
  <a href="/">APCW&G</a>
  <nav>
    <ul>
      <li><a href="/projects">Every Project</a></li>
      <li><a href="/projects/new">Add Projects</a></li>
      <li><a href="/me">A propos</a></li>
    </ul>
  </nav>
</header>
