<header>
  <nav>
    <div class="all-nav">
      <div class="logo-top">
        <a href="/" id="logo">
          <img src="/stylesheet/img/Calque 2.png" alt="Logo" width="20%" />
        </a>
      </div>
      <ul>
        <li><a href="/projects"><img src="/stylesheet/img/web.png" alt="Projets" width="5%">
            <h4>Réalisations</h4>
          </a></li>
        <li><a href="/me"><img src="/stylesheet/img/contact.png" alt="Projets" width="5%">
            <h4>Contact</h4>
          </a></li>
      </ul>
    </div>
  </nav>
</header>