<div class="intro">
  <div class="profils">
    <div class="about">
      <div class="about-txt">
        <h1>Benjamin Boisedu</h1>
        <h2>Web Developer & Game Developer</h2>
      </div>
    </div>
    <div class="project-cat">
      <div id="Dev">
        <h3>Dev Projects</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptatem voluptas quod
          exercitationem quos voluptatibus quas doloribus. Quisquam voluptatum,
          quibusdam, quia, quae voluptatem voluptas quod exercitationem quos
          voluptatibus quas doloribus.
        </p>
        <a href="/projects?title=&tag=Dev"> Watch More </a>
      </div>
      <div id="3D">
        <h3>3D Projects</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptatem voluptas quod
          exercitationem quos voluptatibus quas doloribus. Quisquam voluptatum,
          quibusdam, quia, quae voluptatem voluptas quod exercitationem quos
          voluptatibus quas doloribus.
        </p>
        <a href="/projects?title=&tag=3D"> Watch More </a>
      </div>
    </div>
  </div>
</div>
