<div class="intro">
  <div class="profils">
    <div class="about">
      <div class="about-txt">
        <div class="about-img">
          <img src="/stylesheet/img/V1.png" alt="Object3D" />
        </div>
        <div class="txt">
          <h1>Benjamin Boisedu</h1>
          <h2>Web Developer & Game Developer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="parcours"></div>
  </div>
</div>
