<div class="intro">
  <div class="profils">
    <div class="about">
      <div class="about-txt">
        <div class="about-img">
          <img src="/stylesheet/img/V1.png" alt="Object3D" />
        </div>
        <div class="txt">
          <div class="nom">
            <h1>Benjamin Boisedu</h1>
          </div>
          <h2>Web Developer & Game Developer</h2>
          <a
            href=""
            download="/stylesheet/img/cv.png"
            style="text-decoration: none; color: #fff"
          >
            Télécharger mon cv</a
          >
          <div class="network">
            <a href="https://www.linkedin.com/in/benjamin-boisedu-6b1b3b1b2/">
              <img src="/stylesheet/img/linkedin(2).png" alt="linkedin" />
            </a>
            <a href="https://github.com/BenjaminBoisedu">
              <img src="/stylesheet/img/github.png" alt="github" />
            </a>
            <a href="https://www.instagram.com/benjamin_boisedu/">
              <img src="/stylesheet/img/instagram(1).png" alt="instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
