<div class="intro">
  <div class="profils">
    <div class="about">
      <div class="about-txt">
        <div class="about-img">
          <img src="/stylesheet/img/V1.png" alt="Object3D" />
        </div>
        <div class="txt">
          <div class="nom">
            <h1>Benjamin Boisedu</h1>
          </div>
          <h2>Web Developer & Game Developer</h2>
          <div class="network">
            <a href="https://www.linkedin.com/in/benjamin-boisedu-6b1b3b1b2/">
              <img src="/stylesheet/img/linkedin(2).png" alt="linkedin" />
            </a>
            <a href="https://github.com/BenjaminBoisedu">
              <img src="/stylesheet/img/github.png" alt="github" />
            </a>
            <a href="https://www.instagram.com/benjamin_boisedu/">
              <img src="/stylesheet/img/instagram(1).png" alt="instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="parcours">
      <div class="parcours-txt">
        <h2>Mon Parcours</h2>
      </div>
      <div class="parcours-all">
        <div class="Bac">
          <h1>Baccalauréat Scientifique</h1>
          <img
            src="/stylesheet/img/bac.jpg"
            alt="Img"
            width="150px"
            height="150px"
          />
        </div>
        <div class="Sup1">
          <h1>1ère Année en MMI</h1>
          <img
            src="/stylesheet/img/V1.png"
            alt=""
            height="150px"
            width="150px"
          />
        </div>
        <div class="Sup2">
          <h1>En cours de 2ème Année en MMI</h1>
          <img
            src="/stylesheet/img/V1.png"
            alt=""
            height="150px"
            width="150px"
          />
        </div>
        <div class="left-rigth"></div>
      </div>
      <a href="/projects"> View my projects </a>
    </div>
  </div>
</div>
