<h2>New Project</h2>
<form action="/projects" method="post">
  <p>
    <input type="text" name="title" placeholder="Project Title" />
  </p>
  <p>
    <textarea name="description" placeholder="Project Description"></textarea>
  </p>
  <p>
    <input type="date" name="date" placeholder="Project Date" />
  </p>
  <p>
    <input type="submit" value="Add Project" />
  </p>
</form>
