<h2>New Project</h2>
<div>
  <form action="/projects" method="post">
    <p>
      <input
        type="text"
        name="title"
        placeholder="Project Title"
        value="<%=
      project.title %>"
      />
    </p>
    <p>
      <textarea
        name="description"
        placeholder="Project Description"
        value="<%= project.description %>"
      ></textarea>
    </p>
    <p>
      <input
        type="text"
        name="tag"
        placeholder="Tag's project"
        value="<%= project.tag %>"
      />
    </p>
    <p>
      <input
        type="date"
        name="date"
        placeholder="Project Date"
        value="<%=
      project.date %>"
      />
    </p>
    <button type="submit">Add</button>
    <p>
      <a href="/projects">Back</a>
    </p>
  </form>
</div>
