<h3><%= project.title %></h3>
<% if (project.description) { %>
<p><%= project.description %></p>
<% } %> <% if (project.tag) { %>
<p><%= project.tag %></p>
<% } %> <% if (project.date) { %>
<p><%= project.date %></p>
<% } %>
